<!DOCTYPE html>
<html lang="en">

<!-- MAIN LAYOUT OF THE APP -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title  %></title>
    <link rel="icon" type="img/png" href="/images/icons/app-logo.png">
    <!-- linking CSS file -->
    <!-- including jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <!-- INCLUDING TOASTR LIB-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- INCLUDING LAYOUT CSS -->
    <link rel="stylesheet" href="/css/layout.css">
    
    <%-style  %>
</head>
<body>
    <!-- including header -->
    <%- include("_header") %>
    
    <!-- including popup menu -->
    <%- include("_popup_menu") %>

    <!-- including main content -->
    <%-body  %>
    



    <script type="text/javascript" src="/js/layout.js"></script>
    <!-- for script tags -->
    <%-script %>
    
</body>
</html>